{% extends 'suscribe/base.html' %} 
{% block content %}

<h5>Lecturas</h5>
<div class="table-responsive">
  <table class="table">
    ...
    <tr>
      <td>Ruta</td>
      <td>Lectura</td>
      <td>Fecha de lectura</td>
    </tr>
   
    {% for i in lecturas  %}
    <tr>
      <td>{{i.ruta}}</td>
      <td>{{i.lectura_sensor}}</td>
      <td>{{i.lectura_fecha}}</td>

    </tr>
    
     {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

{% endblock content %}
