{% extends 'cliente/base.html' %}
{% load crispy_forms_tags %}
  
{% block content %}

<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
      <tr>
          <td>id</td>
         <td>Direccion</td>

          
          <td>
              <a href="{% url 'cli_agregar' %}" class="btn btn-outline-success">
                  <i class="fas fa-plus"></i> Add New
              </a>
          </td>
      </tr>
  </thead>
  <tbody>
      {% for i in listar_cliente  %}
          <tr>
            <td>{{i.id_cliente}}</td>

              <td>{{i.broker_conexion}}</td>
             
              <td>
                <td>
                  <a href="{% url 'cliente_update' i.id_cliente %}" class="btn text-secondary px-0">
                      <i class="far fa-edit fa-lg"></i>
                  </a>
            
                  <form action="{% url 'cliente_delete' i.id_cliente %}" method="post" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="btn">
                          <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                      </button>
                  </form>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>






{% endblock content %}













