

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}

    <link rel="icon" href="../../../../favicon.ico">

    <title>Inversoft</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

    <!-- jquery-ui -->
    <link href="{% static 'js/jquery-ui-1.13.0.custom/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.13.0.custom/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery-ui-1.13.0.custom/jquery-ui.theme.min.css' %}" rel="stylesheet">


    

  </head>



  <body>
    
    <header
    class=" nav-color navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">  -->
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="#">Sign out</a>
        </div>
      </div>
    </header>










    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="nav-vertical sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">
                  <img src="https://img.icons8.com/dusk/25/000000/dashboard.png"/>
                  Dashboard 
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'inv_agregar' %}">
                  <img src="https://img.icons8.com/office/16/000000/home--v1.png"/> 
                                   Ubicación
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cli_agregar' %}">
                  <img src="https://img.icons8.com/fluency/20/000000/wired-network-connection.png"/>
                         Conexion
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sus_agregar' %}">
                  <img src="https://img.icons8.com/color/25/000000/thermometer-automation.png"/>  
                        Sensores
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'filtro_fechas' %}">
                  <img src="https://img.icons8.com/external-sbts2018-flat-sbts2018/25/000000/external-report-lean-thinking-sbts2018-flat-sbts2018.png"/>
                            Reportes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'configuraciones' %}">
                  <img src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/25/000000/external-configuration-ux-and-ui-flatart-icons-flat-flatarticons.png"/>
                                    Configuraciones
                </a>
              </li>

              
            </ul>
          </div>
        </nav>




      </div>

        

  <div class="container">
  
      <div class="col-md-10 offset-md-2 mt-5 text-center">
          <div class="jumbotron card">
          {% block content %}

           


      {% endblock content %}

          </div>
        </div>
  </div>
</div>

<script src="{% static 'js/jquery-ui-1.13.0.custom/jquery-ui.js' %}"></script>


<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/app.js' %}"></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
</html>
