{% extends 'configuracion/base_config.html' %} 
{% load crispy_forms_tags %}







 {% block content %}

 <a
 href="{% url 'configmail' %}"

 <div class=" col-md-6">
  <div class="card-valores"> <span class="icon"><img src="https://img.icons8.com/fluency/48/000000/download-mail.png"/></span>
      <div class="title">
          <p>Configurar e-mail</p>
      </div>
      <div class="temp"></sup></div>
      <div class="row">
          <div class="col-4">
              <div class="header"></div>
              <div class="value"></div>
          </div>
          <div class="col-4">
              <div class="header"></div>
              <div class="value"></div>
          </div>
          <div class="col-4">
              <div class="header"></div>
              <div class="value"></div>
          </div>
      </div>
  </div>
 
</a>



<a
href="{% url 'configuraciones_pi' %}"

<div class=" col-md-6">
 <div class="card-valores"> <span class="icon"><img src="https://img.icons8.com/color/48/000000/raspberry-pi.png"/></span>
     <div class="title">
         <p>Configuracion Pi</p>
     </div>
     <div class="temp"></sup></div>
     <div class="row">
         <div class="col-4">
             <div class="header"></div>
             <div class="value"></div>
         </div>
         <div class="col-4">
             <div class="header"></div>
             <div class="value"></div>
         </div>
         <div class="col-4">
             <div class="header"></div>
             <div class="value"></div>
         </div>
     </div>
 </div>

</a>




  
  

{% endblock content %}
