{% extends 'configuracion/base.html' %} 
{% load crispy_forms_tags %}







 {% block content %}

 <div class=" col-md-6">
    <a href="{% url 'configmail' %}" class="btn btn-block btn-lg">
     
  <div class="card-valores"> <span class="icon"><img src="https://img.icons8.com/external-bearicons-blue-bearicons/64/000000/external-Mail-social-media-bearicons-blue-bearicons.png"/></span>
      <div class="title">
          <p>Configuracion mail</p>
      </div>
      <div class="temp"><sup></sup></div>
     
       </a>
  </div>


  
  

{% endblock content %}
