{% extends 'invernadero/base.html' %}






{% block content %}


{% for i in suscribe %}
      {% if i.ruta == "/dht/temperatura" %}


      <div class="container py-5 h-100 .rotate-vert-center">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-10 col-lg-8 col-xl-6">

              <div class=" rotate-vert-center card bg-dark text-white " style="border-radius: 40px;">
                                        <h5>Temperatura</h5>

                <div class="bg-image" style="border-radius: 35px;">
                  <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-weather/draw1.png"class="card-img"alt="weather"/>
                  <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>

                </div>
                <div class="card-img-overlay text-dark p-5">
                  <p id="temperatura" class="display-2 my-3" ></p>
                  <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
                  <h4 class="mb-0">{{i.ruta}}</h4>
                 <h5>Snowy</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

      {% else %}



      <div class="container py-5 h-100 .rotate-vert-center">
          <div class="row d-flex justify-content-center align-items-center h-100">
          
            <div class="col-md-10 col-lg-8 col-xl-6">

              <div class=" rotate-vert-center card bg-dark text-white " style="border-radius: 40px;">
                                      <h5>Humedad</h5>

                <div class="bg-image" style="border-radius: 35px;">
                  <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-weather/draw1.png"class="card-img"alt="weather"/>
                  <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>
                </div>
                <div class="card-img-overlay text-dark p-5">
                  <p id="humedad" class="display-2 my-3" ></p>
                  <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
                  <h4 class="mb-0">{{i.ruta}}</h4>
                 <h5>Snowy</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endif %}


{% endfor %}

{% comment %} 

<p>Rutas</p>


{% for i in suscribe %}
<p>Rutas</p>
        <p>{{ i.ruta }}</p>

{% endfor %} {% endcomment %}



{% endblock content %}












