{% extends 'invernadero/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
      <tr>
        <td>id</td>

          <td>Nombre</td>
          <td>
              <a href="{% url 'inv_agregar' %}" class="btn btn-outline-success">
                  <i class="fas fa-plus"></i> Add New
              </a>
          </td>
      </tr>
  </thead>
  <tbody>
      {% for i in listar_invernadero  %}
          <tr>
            <td>{{i.id_invernadero}}</td>

              <td>{{i.nombre}}</td>
             
              <td>
                <td>
                  <a href="{% url 'invernadero_update' i.id_invernadero %}" class="btn text-secondary px-0">
                      <i class="far fa-edit fa-lg"></i>
                  </a>
            
                  <form action="{% url 'invernadero_delete' i.id_invernadero %}" method="post" class="d-inline">
                      {% csrf_token %}
                      <button type="submit" class="btn">
                          <i class="far fa-trash-alt fa-sm text-danger float-right"></i>
                      </button>
                  </form>
              </td>
          </tr>
      {% endfor %}
  </tbody>
</table>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



    {% endblock content %}